<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>Hurray! It is working!</h2>
    <p>Latest commit : <%= message %></p>
  </body>
</html>
